################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BPRO.Apps.BingWallDaily.Core/bin/Debug
/BPRO.Apps.BingWallDaily.Core/obj/Debug
/packages/Newtonsoft.Json.11.0.1
/.vs/BPRO.Apps.BingWallDaily/DesignTimeBuild
/.vs/BPRO.Apps.BingWallDaily/v15
/.vs/BPRO.Apps.BingWallDaily/v16/Server/sqlite3
/.vs/BPRO.Apps.BingWallDaily/v16/TestStore/0
/.vs/BPRO.Apps.BingWallDaily/v16/.suo
/BingWallDailyRunner/bin/Debug
/BingWallDailyRunner/obj/Debug
/BingWallDailyService/bin/Debug
/BingWallDailyService/obj
/BingWallDailyService/publish/Application Files/BingWallDailyService_1_0_0_0
/BingWallDailyTests/obj/Debug
/BPRO.Apps.BingWallDaily.Core/bin/Release
/BPRO.Apps.BingWallDaily.Core/obj/Release
/packages
